    body {
        font-family: Arial, sans-serif;
        background-color: #e9eef2;
    }
    .container {
        width: 500px;
        margin: 50px auto;
        background-color: #ffffff;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 8px rgba(0,0,0,0.2);
        padding: 15px;
    }
    h2 {
        text-align: center;
        margin-bottom: 40px;
        color: #2ba100;
        padding: 10px;
        border-radius: 6px;
    }
    .grid-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
    .input-group {
        display: flex;
        flex-direction: column;
    }
    label {
        font-weight: bold;
        margin-bottom: 4px;
        color:#848484;
    }
    input {
        padding: 6px;
        border: none;
        border-bottom: 1px solid #3fbc12;
        outline: none;
    }
    .search {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    button {
        padding: 5px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: #ffffff;
        color: #848484;
    }
.add, .update, .delete {
    transition: all 0.3s ease-in-out; /* animação suave */
}

/* ADD */
.add { 
    background-color: #ffffff; 
    color: #4CAF50; 
    border: solid 2px #4CAF50; 
}
.add:hover{
    background-color: #4CAF50;
    color:#ffffff;
    transform: scale(1.1); /* cresce 10% */
}

/* UPDATE */
.update { 
    background-color: #ffffff; 
    color:#007bff; 
    border: solid 2px #007bff; 
}
.update:hover{
    background-color: #007bff;
    color:#ffffff;
    transform: scale(1.1);
}

/* DELETE */
.delete { 
    background-color: #ffffff; 
    color: #dc3545;  
    border: solid 2px #dc3545; 
}
.delete:hover{
    background-color: #dc3545;
    color:#ffffff;
    transform: scale(1.1);
}

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
        font-size: 14px;
    }
    th, td {
        border: 1px solid #ccc;
        padding: 6px;
        text-align: left;
    }
    th {
        background-color: #237d02;
        color: white;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }